
@charset "utf-8";
/* CSS Document */


/* Flexbox Design */

/* Flexbox container */
.containerRow{
  display: flex;
}
.containerColumn{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.containerRowWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

/*Flexbox items */
.item1{
  order: 1;
}
.item2{
  order: 2;
}
.item3{
  order: 3;
}
.item4{
  order: 4;
}
.item5{
  order: 5;
}
.item6{
  order: 6;
}
.item7{
  order: 7;
}
.item8{
  order: 5;
}
.item9{
  order: 6;
}
.item10{
  order: 7;
}

/*Page Style for Mobile Devices*/

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
  overflow-x: hidden;
 /* min-width: 100%; */
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50%;
  color: #333;
}
a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
img{
  min-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 50%;

}
#footer {
  background-color: rgb(68,68,68);
  color: rgb(177,177,177);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  /*min-width: 80%;*/
}
#RestaurantReviews{
  color: #a8a8ff;
}
/* ====================== Navigation ====================== */
nav {
  /*width: 100%;*/
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  padding: 5%;
  color: #fff;
  font-size: 80%;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 2% 50% 2% 0;
    list-style: none;
    background-color: #eee;
    font-size: 1.5em;
    margin: 0;
    width: calc(50% - 0px);
    height: 20%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #005096;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
  #breadcrumblist{
      min-width:100%;
      width:200px;
      padding: 5%;
      margin:0;
  }
/* ====================== Map ====================== */
#map {
  height: 200px;
  /*min-width: 100%;*/
  margin: 0;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  /*width: 95%;*/
  height: 50%;
  padding: 2.5%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 150%;
  letter-spacing: 2px;
  font-weight: normal;
  line-height: 1;
  margin: 0 30px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 75%;
  font-weight: bold;
  min-height: 46px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 8px;
 /* min-width: 130px;*/
}
.filter-options  select:focus {
  outline: 5px solid #fff;
  background-color: #a56900;
  opacity: 0.8;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  /*width: 90%;*/
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px ;
  min-height: 190px;
  padding: 0 30px 25px;
  text-align: left;
  /*width: 220px;*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 20px auto;
  max-width: 100%;
  min-height: 124px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color:  #b56000;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #a56900;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 14pt;
  margin: 15px 0 0;
  padding: 10px 30px 5px;
  min-width: 60px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
  outline: 5px solid #a56900 ;
  color: #a56900;
  font-weight: bold;
  background-color: #fff;
  opacity: 0.8;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  /*width: 100%;*/
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  right: 0;
  top: 80px;
  /*min-width: 100%;*/
}
.inside #map {
  background-color: #ccc;
  height: 200px;
 /* min-width: 100%;*/
}
.inside #footer {
  bottom: 0;
  position: absolute;
 /* min-width: 80%;*/
}
#restaurant-name {
  color: #804200;
  font-family: Arial,sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  min-width: 100%;
  max-width: 100%;
  border-radius: 10px;
}
#restaurant-address {
  font-size: 1.1em;
  margin: 10px 0px;
}
#restaurant-hours{
  font-size: 0.9em;
  padding: 2%;
}
#restaurant-hours td {
  color: #666;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  /*min-width: 100%;*/
  border-radius: 10px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px;
/*  width: 60%; */
}
#reviews-container {
  padding: 30px 30px 80px;
}
#reviews-container h2 {
color: #804200;
  font-size: 1.9em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  padding-left: 5%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 4px solid #f3f3f3;
  border-radius: 20px 0;
  font-size: 1.5em;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
 padding: 5% 5% 20%;
}
.inside .styleReview {
  background: #333;
  font-size: 1.2em;
  height:20%;
  display: flex;
  justify-content: space-around;
  padding: 5%;
 /* min-width: 100%;*/
  border-radius: 20px 0;
  margin-left: 0;
}
.inside .stylReviewText{
  color:#fff;
}
.inside .styleRating{
  margin: 5% 0;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  background: #a56900;
  color:#fff;
 /* width: 40%;*/
}


/*Page Style for Tablets*/
@media screen and (min-width: 750px){

    body,td,th,p{
      font-size: 140%;
    }
    #maincontent {
      background-color: #f3f3f3;
      min-height: 100%;
    }
    /* ====================== Navigation ====================== */
    nav h1 {
      padding: 2%;
    }
    nav h1 a {
      color: #fff;
      font-size: 100%;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
    #footer {
       width: 93%;
    }
    #breadcrumb {
        font-size: 0.7em;
    }
    /* Add a slash symbol (/) before/behind each list item */
    #breadcrumb li+li:before {
        padding: 10px;
    }

    /* Add a color to all links inside the list */
    #breadcrumb li a {
        font-size: 2.2em;
    }
    /* Add font-size to list elements */
    .breadcrumbElements{
      font-size: 1.5em;
    }
    #breadcrumblist{
      padding:2%;
    }

    /* ====================== Map ====================== */
    #map {
      height: 400px;
    }
    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
      height: 5%;
      padding: 1%;
      width: 98%;
    }
    .filter-options h2 {
      font-size: 140%;
      padding: 0.8%;
      margin: 0 20px;
    }
    .filter-options select {
      font-size: 95%;
      margin: 15px;
      padding: 0 10px;
      min-width: 250px;
      cursor:pointer;
    }

    /* ====================== Restaurant Listing ====================== */
    #restaurants-list {
      padding: 30px 30px;
    }
    #restaurants-list li {
      margin: 10px 20px;
      min-height: 380px;
      padding: 0 20px 25px;
      width: 260px;
    }
    #restaurants-list .restaurant-img {
      margin: 10px auto;
      min-height: 40%;
    }
    #restaurants-list li h2 {
      font-size: 14pt;
      line-height: 1;
      text-transform: uppercase;
    }
    #restaurants-list li a {
      font-size: 10pt;
      margin: 10px 0 0;
      padding: 8px 30px 0px;
    }

    /* ====================== Restaurant Details ====================== */
  .inside header {
    height: 80%;
  }
  .inside #map {
    height: 400px;
  }
  #restaurant-name {
    font-size: 2.2em;
    margin: 15px 0 30px 5%;
  }
  #restaurant-img {
    display:block;
    margin-left: 1%;
    margin-right: auto;
  }
  #restaurant-address {
    font-size: 1.8em;
    text-align: center;
  }
  #restaurant-hours{
    font-size: 1.2em;
    margin-left: 10%;
  }
  #restaurant-cuisine {
    font-size: 1.5em;
    margin: 2% 5%;
    width: 90%;
  }
  #reviews-container h2 {
    font-size: 2.6em;
    margin-left: 5%;
  }
  #reviews-list {
    margin: 0 0 0 5%;
  }
  #reviews-list li {
    margin: 0 0 60px;
    width: 100%;
  }
  .inside .stylReviewText{
    font-size: 1.8em;
  }
  .inside .styleRating{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1025px){

    /*Page Style*/

    body,td,th,p{
      font-size: 200%;
    }
    ul, li {
      font-size: 10pt;
    }
    /* ====================== Navigation ====================== */
    nav h1 {
      padding: 0.5%;
    }
    nav h1 a {
      font-size: 90%;
    }
    #footer {
       width: 95%;
    }
    #breadcrumb {
        font-size: 1.8em;
    }
        /* Add font-size to list elements */
    .breadcrumbElements{
      font-size: 0.5em;
    }

    /* ====================== Map ====================== */
    #map {
      height: 400px;
    }
    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
      padding: 1%;
      min-width:  98%;
    }
    .filter-options h2 {
      white-space: nowrap;
      font-size: 140%;
      margin: 0 20px;
    }
    .filter-options select {
      font-size: 90%;
      height: 35px;
      letter-spacing: 0;
      padding: 0 10px;
      min-width: 300px;
    }

    /* ====================== Restaurant Listing ====================== */
    #restaurants-list {
      margin: 2%;
    }
    #restaurants-list li {
      margin: 15px;
      min-height: 380px;
    }
    #restaurants-list .restaurant-img {
      margin: 10px auto;
      min-height: 248px;
    }
    #restaurants-list li h2 {
      font-size: 16pt;
    }
    #restaurants-list li a {
      font-size: 15pt;
      padding: 8px 30px 5px;
    }

   /* ====================== Restaurant Details ====================== */
  .inside #map-container {
    height: 100%;
    min-width: 40%;
  }
  .inside #map {
    height: 1000px;
  }
  #restaurant-name {
    font-size: 1.2em;
  }
  #restaurant-img {
    min-width: 70%;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  #restaurant-address {
    font-size: 1.0em;
    margin: 10px 0px 0 5%;
  }
  #restaurant-hours{
    margin-left: 20%;
    padding: 0.5%;
  }
  #restaurant-hours td {
    font-size: 0.6em;
  }
  #restaurant-cuisine {
    font-size: 1.0em;
    padding: 0.5px 0;
  }
  #restaurant-container, #reviews-container {
    width: 100%;
  }
  #restaurant-container{
    width: 50%;
    height: 100%;
    padding: 4% 4%;
    margin-left: 1.5%;
    border: 2px solid #333;
    border-radius: 10px;
  }
  #reviews-container {
    width: 100%;
  }
  #reviews-container h2 {
    font-size: 2.0em;
    padding-left: 3.5%;
  }
  #reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #reviews-list li {
    font-size: 0.8em;
    margin: 0 20px 30px;
    width: 25%;
  }
  .inside .stylReviewText{
    color:#fff;
  }
  #designContainer{
    order:1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
  }
}